<!DOCTYPE html> <!-- can link stylesheets and scripts here, only need to do it once-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}"> <!-- { } is for strings... filename variable is same for .js files that you want to link -->
    {% block head %}{% endblock %}  <!-- jinja2 syntax, tells where code will be inserted for each page that inherits this template -->
</head>
<body>
    {% block body %}{% endblock %} <!-- { with % is for if/else, for loops etc -->
</body>
</html>